[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
itsdangerous = "*"
pytest = "*"
alembic = "*"
psycopg2 = "*"
SQLAlchemy = "*"
Flask-WTF = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
Flask = "*"
Flask-Testing = "*"
Jinja2 = "*"
MarkupSafe = "*"
Flask-SQLAlchemy = "*"
Werkzeug = "*"
Flask-Migrate = "*"
Flask-Script = "*"

[requires]
python_version = "3.7"
